.curseclient
BotaniaVars.dat
Chromaticraft_Data/
GregTech.cfg
GregTech.lang
*.dll
*.classdata
*.patch
asm/
betterfps.txt
config.orig/
crash-reports/
journeymap/
local/
logs/
minecraftinstance.json
*.log
mod-config/
modpack/
mods/
options.txt
saves/
usernamecache.json
config/HardcoreEnderExpansion.clientsave.cfg
settings.rtg
dumps/
1213309934
TimeUsage.txt
