.curseclient
BotaniaVars.dat
Chromaticraft_Data/
GregTech.cfg
GregTech.lang
*.dll
*.classdata
*.patch
asm/
betterfps.txt
config.orig/
crash-reports/
journeymap/
local/
logs/
minecraftinstance.json
minetweaker.log
mod-config/
modpack/
mods/
options.txt
saves/
usernamecache.json
