# Configuration file

coke_oven {
    I:"block.eucalyptus.log;_3600"=3600
    I:"block.ghost.log;_3600"=3600
    I:"block.heart.redwood;_3600"=3600
    I:"block.hopseed.log;_3600"=3600
    I:"block.log.darkwood;_3600"=3600
    I:"block.log.fusewood;_3600"=3600
    I:"block.log.maple;_3600"=3600
    I:"block.log.purpleheart;_3600"=3600
    I:"block.log.silverbell;_3600"=3600
    I:"block.log.tiger;_3600"=3600
    I:"block.log.willow;_3600"=3600
    I:"block.sakura.log;_3600"=3600
    I:"blockDustOilshale;_32400"=32400
    I:"blockGemCoal;_32400"=32400
    I:"blockGemLignite;_32400"=32400
    I:"crushedCentrifugedCoal;_3600"=3600
    I:"crushedCentrifugedLignite;_3600"=3600
    I:"crushedCentrifugedTinyCoal;_3600"=3600
    I:"crushedCentrifugedTinyLignite;_3600"=3600
    I:"crushedPurifiedCoal;_3600"=3600
    I:"crushedPurifiedLignite;_3600"=3600
    I:"crushedPurifiedTinyCoal;_3600"=3600
    I:"crushedPurifiedTinyLignite;_3600"=3600
    I:"dustOilshale;_3600"=3600
    I:"gemCoal;_3600"=3600
    I:"gemLignite;_3600"=3600
    I:"gt.block.beam.1.fireproof;_3600"=3600
    I:"gt.block.beam.1;_3600"=3600
    I:"gt.block.beam.2.fireproof;_3600"=3600
    I:"gt.block.beam.2;_3600"=3600
    I:"gt.block.beam.a.0;_3600"=3600
    I:"gt.block.beam.a.1;_3600"=3600
    I:"gt.block.beam.a.2;_5400"=5400
    I:"gt.block.beam.a.3;_3600"=3600
    I:"gt.block.beam.a.fireproof.0;_3600"=3600
    I:"gt.block.beam.a.fireproof.1;_3600"=3600
    I:"gt.block.beam.a.fireproof.2;_5400"=5400
    I:"gt.block.beam.a.fireproof.3;_3600"=3600
    I:"gt.block.beam.b.fireproof;_3600"=3600
    I:"gt.block.beam.b;_3600"=3600
    I:"gt.block.log.1.fireproof;_3600"=3600
    I:"gt.block.log.1;_3600"=3600
    I:"gt.block.log.a.0;_3600"=3600
    I:"gt.block.log.a.10;_3600"=3600
    I:"gt.block.log.a.11;_3600"=3600
    I:"gt.block.log.a.12;_3600"=3600
    I:"gt.block.log.a.13;_3600"=3600
    I:"gt.block.log.a.14;_3600"=3600
    I:"gt.block.log.a.15;_3600"=3600
    I:"gt.block.log.a.1;_3600"=3600
    I:"gt.block.log.a.2;_5400"=5400
    I:"gt.block.log.a.3;_3600"=3600
    I:"gt.block.log.a.4;_3600"=3600
    I:"gt.block.log.a.5;_3600"=3600
    I:"gt.block.log.a.6;_3600"=3600
    I:"gt.block.log.a.7;_3600"=3600
    I:"gt.block.log.a.8;_3600"=3600
    I:"gt.block.log.a.9;_3600"=3600
    I:"gt.block.log.a.fireproof.0;_3600"=3600
    I:"gt.block.log.a.fireproof.10;_3600"=3600
    I:"gt.block.log.a.fireproof.11;_3600"=3600
    I:"gt.block.log.a.fireproof.12;_3600"=3600
    I:"gt.block.log.a.fireproof.13;_3600"=3600
    I:"gt.block.log.a.fireproof.14;_3600"=3600
    I:"gt.block.log.a.fireproof.15;_3600"=3600
    I:"gt.block.log.a.fireproof.1;_3600"=3600
    I:"gt.block.log.a.fireproof.2;_5400"=5400
    I:"gt.block.log.a.fireproof.3;_3600"=3600
    I:"gt.block.log.a.fireproof.4;_3600"=3600
    I:"gt.block.log.a.fireproof.5;_3600"=3600
    I:"gt.block.log.a.fireproof.6;_3600"=3600
    I:"gt.block.log.a.fireproof.7;_3600"=3600
    I:"gt.block.log.a.fireproof.8;_3600"=3600
    I:"gt.block.log.a.fireproof.9;_3600"=3600
    I:"gt.block.log.b.0;_3600"=3600
    I:"gt.block.log.b.10;_3600"=3600
    I:"gt.block.log.b.11;_3600"=3600
    I:"gt.block.log.b.12;_3600"=3600
    I:"gt.block.log.b.13;_3600"=3600
    I:"gt.block.log.b.14;_3600"=3600
    I:"gt.block.log.b.15;_3600"=3600
    I:"gt.block.log.b.1;_3600"=3600
    I:"gt.block.log.b.2;_3600"=3600
    I:"gt.block.log.b.3;_3600"=3600
    I:"gt.block.log.b.4;_3600"=3600
    I:"gt.block.log.b.5;_3600"=3600
    I:"gt.block.log.b.6;_3600"=3600
    I:"gt.block.log.b.7;_3600"=3600
    I:"gt.block.log.b.8;_3600"=3600
    I:"gt.block.log.b.9;_3600"=3600
    I:"gt.block.log.b.fireproof.0;_3600"=3600
    I:"gt.block.log.b.fireproof.10;_3600"=3600
    I:"gt.block.log.b.fireproof.11;_3600"=3600
    I:"gt.block.log.b.fireproof.12;_3600"=3600
    I:"gt.block.log.b.fireproof.13;_3600"=3600
    I:"gt.block.log.b.fireproof.14;_3600"=3600
    I:"gt.block.log.b.fireproof.15;_3600"=3600
    I:"gt.block.log.b.fireproof.1;_3600"=3600
    I:"gt.block.log.b.fireproof.2;_3600"=3600
    I:"gt.block.log.b.fireproof.3;_3600"=3600
    I:"gt.block.log.b.fireproof.4;_3600"=3600
    I:"gt.block.log.b.fireproof.5;_3600"=3600
    I:"gt.block.log.b.fireproof.6;_3600"=3600
    I:"gt.block.log.b.fireproof.7;_3600"=3600
    I:"gt.block.log.b.fireproof.8;_3600"=3600
    I:"gt.block.log.b.fireproof.9;_3600"=3600
    I:"ic2.blockRubWood;_3600"=3600
    I:"stickWood;_3600"=3600
    I:"tile.AmethystLog;_3600"=3600
    I:"tile.BlockWarpwoodLog;_3600"=3600
    I:"tile.DiamondLog;_3600"=3600
    I:"tile.PearLog;_3600"=3600
    I:"tile.TFLog.32767;_3600"=3600
    I:"tile.TFMagicLog.32767;_3600"=3600
    I:"tile.TanzaniteLog;_3600"=3600
    I:"tile.arsmagica2:witchwoodlog;_3600"=3600
    I:"tile.blockMagicalLog.greatwood;_3600"=3600
    I:"tile.blockMagicalLog.greatwood;_5400"=5400
    I:"tile.blockMagicalLog.greatwood;_7200"=7200
    I:"tile.blockMagicalLog.silverwood;_7200"=7200
    I:"tile.enderTreeLog;_3600"=3600
    I:"tile.for.logs.32767;_3600"=3600
    I:"tile.for.logsFireproof.32767;_3600"=3600
    I:"tile.log.acacia;_3600"=3600
    I:"tile.log.oak;_3600"=3600
    I:"tile.log;_3600"=3600
    I:"tile.logs1.firWood;_3600"=3600
    I:"tile.logs2.palmWood;_3600"=3600
    I:"tile.logs3.bigflowerstemWood;_3600"=3600
    I:"tile.logs4.mahoganyWood;_3600"=3600
    I:"tile.mfr.rubberwood.log;_3600"=3600
    I:"tile.pamCinnamon;_3600"=3600
    I:"tile.pamMaple;_3600"=3600
    I:"tile.pamPaperbark;_3600"=3600
    I:"tile.witchery:witchlog.rowan;_3600"=3600
}


